Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update babel monorepo to v7.13.16
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.35.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-sonarjs to v0.7.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.35.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.25.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v8.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.36.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.36.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.46.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.14.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.36.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/preset-env to v7.14.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v18.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.47.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update semantic-release monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  package-lock.json
  package.json
Due: prettier --write

fix: progress
  demo/index.js
  package-lock.json
  package.json
  rollup.config.js
  src/config.js
  src/html/playerHTML.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

chore(deps): update dependency webpack-cli to v4.7.0
  package-lock.json
  package.json
Due: prettier --write

fix: progress refactoring
  demo/index.js
  demo/webpack.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/helpers.js
  src/html/newStyle.css
  src/html/player.html
  src/html/playerHTML.js
  src/html/setElements.js
  src/html/style.css
  src/html/style.js
  src/html/svg.js
  src/index.js
  src/listeners/body.js
  src/listeners/controls.js
  src/listeners/loopBtn.js
  src/listeners/loopStartEnd.js
  src/listeners/preview.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/volume.js
Due: prettier --write, eslint --fix

fix: progress
  src/html/newStyle.css
  src/html/player.html
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v19
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency commitizen to v4.2.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @semantic-release/github to v7.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v7.26.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update jamesives/github-pages-deploy-action action to v4.1.2
  .github/workflows/github-page.yml
Due: prettier --write

chore(deps): update dependency webpack to v5.37.0
  package-lock.json
  package.json
Due: prettier --write

fix: add loop boundaries
  src/html/newStyle.css
  src/html/player.html
  src/html/setElements.js
  src/index.js
  src/listeners/body.js
  src/listeners/enums.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/loopBtn.js
  src/listeners/preview.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/statusBtn.js
  src/listeners/volume.js
Due: eslint --fix

chore: progress
  demo/index.js
  src/assets/icomoon.zip
  src/assets/icomoon/Read Me.txt
  src/assets/icomoon/demo-files/demo.css
  src/assets/icomoon/demo-files/demo.js
  src/assets/icomoon/demo.html
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/selection.json
  src/assets/icomoon/style.css
  src/html/newStyle.css
  src/html/player.html
  src/index.js
  src/listeners/enums.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

fix: progress
  src/assets/icomoon.zip
  src/assets/icomoon/Read Me.txt
  src/assets/icomoon/demo-files/demo.css
  src/assets/icomoon/demo-files/demo.js
  src/assets/icomoon/demo.html
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/selection.json
  src/assets/icomoon/style.css
  src/html/Spinner-1s-200px.svg
  src/html/button-syncing.svg
  src/html/expand-full.svg
  src/html/group-3.svg
  src/html/group-3_2.svg
  src/html/group.svg
  src/html/group_2.svg
  src/html/group_3.svg
  src/html/group_4.svg
  src/html/group_5.svg
  src/html/group_6.svg
  src/html/group_7.svg
  src/html/group_8.svg
  src/html/line-3.svg
  src/html/line-3_2.svg
  src/html/mc.svg
  src/html/newStyle.css
  src/html/player.html
  src/html/settings.svg
  src/html/shape.svg
Due: prettier --write, eslint --fix

progresS
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/style.css
  src/html/newStyle.css
  src/html/player.html
  src/index.js
Due: eslint --fix

progress
  demo/index.js
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/style.css
  src/html/newStyle.css
  src/html/player.html
  src/html/setElements.js
  src/listeners/settings.js
Due: eslint --fix

progress
  src/html/newStyle.css
  src/html/player.html
  src/html/setElements.js
  src/index.js
  src/listeners/settings.js
Due: eslint --fix

chore(deps): update jamesives/github-pages-deploy-action action to v4.1.3
  .github/workflows/github-page.yml
Due: prettier --write

chore(deps): update commitlint monorepo to v12.1.3
  package-lock.json
  package.json
Due: prettier --write

progresS
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/style.css
  src/html/player.html
Due: none

progress
  src/html/newStyle.css
  src/html/player.html
Due: none

chore(deps): update babel monorepo to v7.14.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency semantic-release to v17.4.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo to v12.1.4
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{json,md,yml,yamo})
  eslint --fix: any of: *.{js,jsx}
