Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update dependency eslint-plugin-prettier to v4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup-plugin-import-css to v3.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update jamesives/github-pages-deploy-action action to v4.1.5
  .github/workflows/github-page.yml
Due: prettier --write

chore(deps): update semantic-release monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @kissmybutton/motorcortex to v7.3.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.4.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.53.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency postcss to v8.3.7
  package-lock.json
  package.json
Due: prettier --write

perf: bundle optimizations
  .github/workflows/bundle-size.yml
  .size-limit.json
  package-lock.json
  package.json
  rollup.config.js
  src/assets/icomoon/SVG/angle-left.svg
  src/assets/icomoon/SVG/angle-right.svg
  src/assets/icomoon/SVG/arrow-bottom.svg
  src/assets/icomoon/SVG/arrow-left-circle.svg
  src/assets/icomoon/SVG/arrow-left.svg
  src/assets/icomoon/SVG/arrow-righe-circle.svg
  src/assets/icomoon/SVG/arrow-right.svg
  src/assets/icomoon/SVG/arrow-top.svg
  src/assets/icomoon/SVG/back-slash.svg
  src/assets/icomoon/SVG/burger-horizontal.svg
  src/assets/icomoon/SVG/burger-vertical.svg
  src/assets/icomoon/SVG/check-solid.svg
  src/assets/icomoon/SVG/donkeyclip-logo.svg
  src/assets/icomoon/SVG/expand-full.svg
  src/assets/icomoon/SVG/expand.svg
  src/assets/icomoon/SVG/front-slash.svg
  src/assets/icomoon/SVG/loop.svg
  src/assets/icomoon/SVG/motorcortex-logo.svg
  src/assets/icomoon/SVG/pause.svg
  src/assets/icomoon/SVG/play.svg
  src/assets/icomoon/SVG/settings.svg
  src/assets/icomoon/SVG/spinner.svg
  src/assets/icomoon/SVG/volume-off.svg
  src/assets/icomoon/SVG/volume-on.svg
  src/html/player.html
Due: prettier --write, eslint --fix

chore(deps): update dependency rollup to v2.57.0
  package-lock.json
  package.json
Due: prettier --write

ci: run bundle-size to ubuntu latest
  .github/workflows/bundle-size.yml
Due: prettier --write

fix: update npm name
  .husky/pre-commit
  .husky/pre-push
  README.md
  demo/Plugin/index.js
  demo/Plugin/plugin.js
  demo/index.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

fix: update package-lock
  package-lock.json
Due: prettier --write

Deploying to gh-pages from @ donkeyclip/motorcortex-player@b92cf2e6472150d6736058f5f536735044f0fd4e 🚀
  .husky/pre-commit
  .husky/pre-push
  README.md
  demo/Plugin/index.js
  demo/Plugin/plugin.js
  demo/bundle.js
  demo/index.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@9dc750c77e150f0dba14d8f3e16807988644732f 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: drop `teo` name from readme
  README.md
Due: prettier --write

Deploying to gh-pages from @ donkeyclip/motorcortex-player@10b7b176ba5a77becec0a261ddbc98879d32346e 🚀
  README.md
Due: prettier --write

chore(deps): update dependency style-loader to v3
  package-lock.json
  package.json
Due: prettier --write

perf: bundle optimizations
  .github/workflows/bundle-size.yml
  .size-limit.json
  package-lock.json
  package.json
  rollup.config.js
  src/assets/icomoon/SVG/angle-left.svg
  src/assets/icomoon/SVG/angle-right.svg
  src/assets/icomoon/SVG/arrow-bottom.svg
  src/assets/icomoon/SVG/arrow-left-circle.svg
  src/assets/icomoon/SVG/arrow-left.svg
  src/assets/icomoon/SVG/arrow-righe-circle.svg
  src/assets/icomoon/SVG/arrow-right.svg
  src/assets/icomoon/SVG/arrow-top.svg
  src/assets/icomoon/SVG/back-slash.svg
  src/assets/icomoon/SVG/burger-horizontal.svg
  src/assets/icomoon/SVG/burger-vertical.svg
  src/assets/icomoon/SVG/check-solid.svg
  src/assets/icomoon/SVG/donkeyclip-logo.svg
  src/assets/icomoon/SVG/expand-full.svg
  src/assets/icomoon/SVG/expand.svg
  src/assets/icomoon/SVG/front-slash.svg
  src/assets/icomoon/SVG/loop.svg
  src/assets/icomoon/SVG/motorcortex-logo.svg
  src/assets/icomoon/SVG/pause.svg
  src/assets/icomoon/SVG/play.svg
  src/assets/icomoon/SVG/settings.svg
  src/assets/icomoon/SVG/spinner.svg
  src/assets/icomoon/SVG/volume-off.svg
  src/assets/icomoon/SVG/volume-on.svg
  src/html/player.html
  stats.html
Due: prettier --write, eslint --fix

fix: remove stats hml
  stats.html
Due: none

chore(deps): update commitlint monorepo to v13.2.0
  package-lock.json
  package.json
Due: prettier --write

chore: remove analyze size
  rollup.config.js
Due: eslint --fix

chore(deps): update dependency @size-limit/preset-big-lib to v5.0.5
  package.json
Due: prettier --write

chore(deps): update dependency size-limit to v5.0.5
  package.json
Due: prettier --write

fix:update deps
  demo/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@41529f7cb4a4b010db215586c0c7bd64eb5a0113 🚀
  demo/bundle.js
  demo/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

docs: add overflow, visible and outline properties in readme
  README.md
Due: prettier --write

Deploying to gh-pages from @ donkeyclip/motorcortex-player@5b1794fbf10a1c48b5f3ca2ba21f41cc4acb918c 🚀
  README.md
Due: prettier --write

fix: add millisecond options and volume is visible when audio is detected
  README.md
  demo/index.html
  demo/index.js
  package-lock.json
  src/html/setElements.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@ab69b0fa40794ceb72c565c67341be9fd68b5664 🚀
  README.md
  demo/bundle.js
  demo/index.html
  demo/index.js
  package-lock.json
  src/html/setElements.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@4f7451e8b5123c94b1e8ff79000d3d2a9e892f29 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: update init params after with change ms on settings bug
  demo/index.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@471c0605a531f01f796551016b064c1d6f00f788 🚀
  CHANGELOG.md
  demo/bundle.js
  demo/index.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

chore(deps): update dependency @rollup/plugin-html to v0.2.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.58.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.0
  package-lock.json
  package.json
Due: prettier --write

fix: Typo fixes by misspell-fixer
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{json,md,yml,yamo})
  eslint --fix: any of: *.{js,jsx}
