Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

progress
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/style.css
  src/html/setElements.js
Due: eslint --fix

progress
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/html/setElements.js
Due: eslint --fix

progress
  src/assets/icomoon/Read Me.txt
  src/assets/icomoon/demo-files/demo.css
  src/assets/icomoon/demo-files/demo.js
  src/assets/icomoon/demo.html
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/selection.json
  src/assets/icomoon/style.css
  src/html/newStyle.css
  src/html/setElements.js
  src/index.js
Due: prettier --write, eslint --fix

progresS
  src/assets/icomoon/Read Me.txt
  src/assets/icomoon/demo-files/demo.css
  src/assets/icomoon/demo-files/demo.js
  src/assets/icomoon/demo.html
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/selection.json
  src/index.js
Due: prettier --write, eslint --fix

progress
  package-lock.json
  package.json
  rollup.config.js
  src/assets/icomoon/SVG/angle-left.svg
  src/assets/icomoon/SVG/angle-right.svg
  src/assets/icomoon/SVG/arrow-bottom.svg
  src/assets/icomoon/SVG/arrow-left-circle.svg
  src/assets/icomoon/SVG/arrow-left.svg
  src/assets/icomoon/SVG/arrow-righe-circle.svg
  src/assets/icomoon/SVG/arrow-right.svg
  src/assets/icomoon/SVG/arrow-top.svg
  src/assets/icomoon/SVG/back-slash.svg
  src/assets/icomoon/SVG/burger-horizontal.svg
  src/assets/icomoon/SVG/burger-vertical.svg
  src/assets/icomoon/SVG/check-solid.svg
  src/assets/icomoon/SVG/donkeyclip-logo.svg
  src/assets/icomoon/SVG/expand-full.svg
  src/assets/icomoon/SVG/expand.svg
  src/assets/icomoon/SVG/front-slash.svg
  src/assets/icomoon/SVG/loop.svg
  src/assets/icomoon/SVG/motorcortex-logo.svg
  src/assets/icomoon/SVG/pause.svg
  src/assets/icomoon/SVG/play.svg
  src/assets/icomoon/SVG/settings.svg
  src/assets/icomoon/SVG/spinner.svg
  src/assets/icomoon/SVG/volume-off.svg
  src/assets/icomoon/SVG/volume-on.svg
  src/assets/icomoon/fonts/icomoon.eot
  src/assets/icomoon/fonts/icomoon.svg
  src/assets/icomoon/fonts/icomoon.ttf
  src/assets/icomoon/fonts/icomoon.woff
  src/assets/icomoon/style.css
  src/assets/svg.js
  src/helpers.js
  src/html/newStyle.css
  src/html/player.html
  src/html/setElements.js
  src/index.js
  src/listeners/enums.js
Due: prettier --write, eslint --fix

progress
  demo/index.js
  src/html/newStyle.css
  src/html/player.html
  src/html/setElements.js
  src/listeners/controls.js
  src/listeners/settings.js
  src/listeners/volume.js
Due: eslint --fix

progress
  demo/index.js
  src/html/newStyle.css
  src/html/setElements.js
  src/index.js
Due: eslint --fix

progress spinner left
  src/html/newStyle.css
  src/html/playerHTML.js
  src/html/setElements.js
  src/html/style.css
  src/html/style.js
  src/html/svg.js
  src/html/themes.js
  src/index.js
  src/listeners/body.js
  src/listeners/controls.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/loopBtn.js
  src/listeners/loopStartEnd.js
  src/listeners/preview.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/volume.js
Due: eslint --fix

chore(deps): update dependency eslint-plugin-import to v2.23.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.23.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency rollup to v2.48.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.23.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.14.3
  package-lock.json
  package.json
Due: prettier --write

feat: finish player minify code
  demo/index.html
  src/html/style.css
  src/index.js
  src/listeners/controls.js
  src/listeners/enums.js
  src/listeners/loopStartEnd.js
  src/listeners/statusBtn.js
  src/listeners/volume.js
Due: eslint --fix

fix: reduce cognitive-complexity
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/preview.js
  src/listeners/settings.js
  src/listeners/volume.js
Due: eslint --fix

chore: remove unused vars
  src/listeners/loopBarStart.js
Due: eslint --fix

chore(deps): update dependency webpack to v5.37.1
  package-lock.json
  package.json
Due: prettier --write

chore: release 2.0.0
  src/index.js
Due: eslint --fix

fix: build
  package-lock.json
Due: prettier --write

fix: package.json
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@3a4b091437de29b7c7500df90df67ac8d7825ac0 🚀
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@751c8e648769f5b52877db53c81fb2097e3f2594 🚀
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@935ac51cf05bbbedf727cdffd7139a6ea462bee5 🚀
  src/index.js
Due: eslint --fix

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@23d745942c725c5b811583811f6d4c6c6b738ed9 🚀
  CHANGELOG.md
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@598512c8bf098564d98a5a0e5e1d5cda071d01af 🚀
  .eslintignore
  demo/index.js
  demo/webpack.config.js
  package-lock.json
  package.json
  rollup.config.js
  src/assets/svg.js
  src/helpers.js
  src/listeners/body.js
  src/listeners/loopBtn.js
  src/listeners/preview.js
  src/listeners/speed.js
Due: prettier --write, eslint --fix

feat: update build deps
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@e68ac84423114dbfdebd9802b62079755898093f 🚀
  package-lock.json
  package.json
Due: prettier --write

chore: release 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@55a92d931fe3d0326b6637723472e3e9f4b8fdf5 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @kissmybutton/motorcortex to v6.4.3
  package-lock.json
  package.json
Due: prettier --write
