Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

fix: correctly handled undefined or empty init params
  src/index.js
Due: eslint --fix

refactor: group if logic together
  src/index.js
Due: eslint --fix

fix: player should check if the user is from mobile and then prevent default on progressbar move
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/progressBar.js
Due: eslint --fix

fix: mc themes and loopbar
  demo/index.js
  src/helpers.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/listeners/donkeyclip.js
Due: eslint --fix

fix: change the total time on change initial parameters
  src/index.js
Due: eslint --fix

fix: open dc's home if no clip id
  src/helpers.js
  src/listeners/donkeyclip.js
Due: eslint --fix

fix: player should keep the millisecond on change initparams, also the runtime state
  src/index.js
Due: eslint --fix

fix: when scale event occured the player did not consider the case when scaletofit was cover
  src/index.js
Due: eslint --fix

fix: Typo fixes by misspell-fixer
  CHANGELOG.md
Due: prettier --write

fix: add host document functionality to incude mc clips in iframe
  src/helpers.js
  src/html/setElements.js
  src/index.js
  src/listeners/body.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/volume.js
Due: eslint --fix

chore: change dist file names to esm.min.js
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

fix: change dist files to .esm.min.js
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

fix: new esm.min files for build
  src/index.js
Due: eslint --fix

fix: esm build and spread issues
  package.json
  rollup.config.js
  src/index.js
Due: prettier --write, eslint --fix

fix: esm build and spread issues (#240)
  .github/workflows/bundle-size.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yaml
  CHANGELOG.md
  package.json
  rollup.config.js
  src/index.js
Due: prettier --write, eslint --fix

feat: add watermak implementation
  demo/index.js
  src/helpers.js
  src/html/setElements.js
  src/html/style.css
Due: eslint --fix

fix: change div to a tag
  src/helpers.js
Due: eslint --fix

fix: change watermark position to top
  demo/index.js
  src/html/style.css
Due: eslint --fix

fix: change link color
  src/html/style.css
Due: none

fix: add watermark in changeSettings
  demo/index.js
  src/index.js
Due: eslint --fix
