Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

chore: update eslint parser
  .babelrc
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @size-limit/preset-big-lib to v6
  package.json
Due: prettier --write

fix: update build and demo files drop old babel config
  .babelrc
  .husky/pre-commit
  demo/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: drop unused deps and update eslint
  rollup.config.js
Due: eslint --fix

fix: fix broken webpack config
  demo/webpack.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: fix broken config
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

chore(deps): update dependency @semantic-release/npm to v8.0.2
  package.json
Due: prettier --write

chore(deps): update dependency babel-loader to v8.2.3
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-promise to v5.1.1
  package.json
Due: prettier --write

chore(deps): update dependency husky to v7.0.4
  package.json
Due: prettier --write

chore(deps): update dependency postcss to v8.3.10
  package.json
Due: prettier --write

fix: fix broken config
  .babelrc
  demo/webpack.config.js
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@466c64a8bcc4f3a031cdc3bd6dc2c97f743411b9 🚀
  .babelrc
  .husky/pre-commit
  demo/bundle.js
  demo/webpack.config.js
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

fix: remove preview functionality
  README.md
  demo/index.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/body.js
  src/listeners/events.js
  src/listeners/preview.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@dff8e38873aa50d895b232d9b3dc40eb0a67059f 🚀
  README.md
  demo/bundle.js
  demo/index.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/body.js
  src/listeners/events.js
  src/listeners/preview.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ donkeyclip/motorcortex-player@e40a8d9c269e64936e5a75096f92199e811fc266 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: remove preview from index demo
  demo/index.js
Due: eslint --fix

chore(deps): update dependency rollup to v2.58.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @donkeyclip/motorcortex to v7.5.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency style-loader to v3.3.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency core-js to v3.19.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v8.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.5
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.60.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency css-loader to v6.5.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack-dev-server to v4.4.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.61.0
  package-lock.json
  package.json
Due: prettier --write

ci: update testing action (managed by Terraform)
  .github/workflows/test.yaml
Due: none
