Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint "src/**.css" "src/**/*.scss" --config .stylelintrc.json --fix, eslint --fix

docs: new versions
  package.json
Due: prettier --write

docs: clean code
  demo/index.js
  src/listeners/preview.js
  src/listeners/statusBtn.js
Due: eslint --fix

docs: clean packages
  package-lock.json
Due: prettier --write

progress with style
  package.json
  src/html/setElements.js
  src/html/style.js
Due: prettier --write, eslint --fix

add style
  src/html/style.js
Due: eslint --fix

fix pointer events
  demo/bundle.js
  demo/index.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package.json
  src/html/setElements.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

docs: update packages
  package-lock.json
  package.json
Due: prettier --write

fix: fix allow scale up
  demo/bundle.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package.json
  src/helpers.js
Due: prettier --write, eslint --fix

fix: remove prettier rule
  .eslintrc
Due: none

fix: fix scale to fit
  README.md
  demo/bundle.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package.json
  src/html/setElements.js
  src/index.js
Due: prettier --write, eslint --fix

feat: add update clip
  README.md
  demo/bundle.js
  demo/index.html
  demo/index.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package-lock.json
  package.json
  src/helpers.js
  src/html/playerHTML.js
  src/html/setElements.js
  src/html/style.js
  src/html/themes.js
  src/index.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/preview.js
Due: prettier --write, eslint --fix

fix: fix createloop function and dc btn overflow
  demo/bundle.js
  demo/index.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package.json
  src/html/style.js
  src/index.js
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

ci: Update Release please (Managed by Terraform)
  .github/workflows/release-please.yml
Due: none

ci: Update eslint on pr (Managed by Terraform)
  .github/workflows/eslint.yml
Due: none

ci: Update testing action (managed by Terraform)
  .github/workflows/test.yaml
Due: none

ci: Update renovate (managed by Terraform)
  renovate.json
Due: prettier --write

ci: Update Release please (managed by Terraform)
  .github/workflows/release-please.yml
Due: none

ci: Update misspell (managed by Terraform)
  .github/workflows/misspell.yml
Due: none

feat: add fullscreen to changeSetting function
  demo/bundle.js
  dist/motorcortex-player.cjs.js
  dist/motorcortex-player.esm.js
  dist/motorcortex-player.umd.js
  package.json
  src/html/svg.js
  src/index.js
  src/listeners/fullscreen.js
Due: prettier --write, eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency stylelint-config-recommended to v4
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.json
  stylelint "src/**.css" "src/**/*.scss" --config .stylelintrc.json --fix: any of: *.{css,scss}
  eslint --fix: any of: *.{js,jsx}
