Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@af5a09a6409e557113c900cb2d1185da69199f0a 🚀
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.57.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @donkeyclip/motorcortex to v7.5.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update babel monorepo to v7.15.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack-cli to v4.9.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.58.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @commitlint/cli to v13.2.1
  package-lock.json
  package.json
Due: prettier --write

feat: add custom themes and minor fixes
  README.md
  demo/index.js
  src/helpers.js
  src/html/setElements.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@45cc38372b89b7add6d186bf953ca6742ad4cc71 🚀
  README.md
  demo/bundle.js
  demo/index.js
  src/helpers.js
  src/html/setElements.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@1033074d2ecad91e4dcc430ceb0a501e5e897d06 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency css-loader to v6.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: minor fixes in styles and demo
  README.md
  demo/index.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@c336cb391732d2bfc8386e53167910908f7f06ff 🚀
  README.md
  demo/bundle.js
  demo/index.js
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@6dc705b3ddf37f7979b45f0b1516fdc4da38e1e2 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove show indicator and change controls height
  README.md
  demo/index.js
  src/helpers.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@ab68ef281779696c3543533acc07b0f8fe7acb8b 🚀
  README.md
  demo/bundle.js
  demo/index.js
  src/helpers.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/settings.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@1e2a348f17ee0b3ad2ba0b719ae384c3baf1b767 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: player default color
  src/html/style.css
Due: none

Deploying to gh-pages from @ donkeyclip/motorcortex-player@023c920fbda49383c3c10820e53571b6c01381e5 🚀
  demo/bundle.js
  src/html/style.css
Due: eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@d98af93515a57d6721806fa8c8885bac05b0c8ae 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: remove console.log
  rollup.config.js
  src/helpers.js
Due: eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@ac036604a490ef9d6224973d780209816613810d 🚀
  demo/bundle.js
  rollup.config.js
  src/helpers.js
Due: eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@8e16a9cb0be9bb5aac132c88163f40f3691589a2 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.2
  package-lock.json
  package.json
Due: prettier --write

fix: time display issues in float point
  demo/index.js
  src/index.js
Due: eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@dd0ae920a7fa6ed31be3e0e3b05665f5497118b4 🚀
  demo/bundle.js
  demo/index.js
  src/index.js
Due: eslint --fix

Deploying to gh-pages from @ donkeyclip/motorcortex-player@0645729d874d403b5f65f9759f670a67fe61eb98 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11.2.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.25.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency size-limit to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.25.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.58.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @semantic-release/npm to v8.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack-cli to v4.9.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v21.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.6
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{json,md,yml,yamo})
  eslint --fix: any of: *.{js,jsx}
