Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

chore(deps): update actions/setup-node action to v3.1.0
  .github/workflows/github-page.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yaml
Due: prettier --write

chore(deps): update dependency webpack to v5.71.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency concurrently to v7.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.6.2
  package-lock.json
  package.json
Due: prettier --write

ci: Update bundle-size action (managed by Terraform)
  .github/workflows/bundle-size.yml
Due: prettier --write

Delete .github/workflows/bundle-size.yml
  .github/workflows/bundle-size.yml
Due: prettier --write

chore(deps): update dependency webpack-dev-server to v4.8.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.26.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack-dev-server to v4.8.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @babel/core to v7.17.9
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency webpack to v5.72.0
  package-lock.json
  package.json
Due: prettier --write

feat: drop explorer 11 support
  .babelrc
Due: none

feat: update compatibility with motorcortex
  package.json
Due: prettier --write

chore(deps): update dependency eslint to v8.13.0
  package-lock.json
  package.json
Due: prettier --write

feat: add go to millisecond function to player
  src/helpers.js
  src/index.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
Due: eslint --fix

chore(deps): update actions/setup-node action to v3.1.1
  .github/workflows/bundle-size.yml
  .github/workflows/github-page.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yaml
Due: prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v13.2.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update googlecloudplatform/release-please-action action to v3.2.0
  .github/workflows/release-please.yml
Due: prettier --write

chore: rename player png
  player.png
Due: none

chore(deps): update actions/checkout action to v3.0.1
  .github/workflows/bundle-size.yml
  .github/workflows/eslint.yml
  .github/workflows/github-page.yml
  .github/workflows/misspell.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yaml
Due: prettier --write

chore(deps): update dependency core-js to v3.22.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v12.3.8
  package-lock.json
  package.json
Due: prettier --write

feat: new donkeyclip theme
  demo/index.js
  package-lock.json
  package.json
  src/html/style.css
  src/index.js
Due: prettier --write, eslint --fix

fix: add keydown events
  src/helpers.js
  src/html/player.html
  src/html/setElements.js
  src/html/style.css
  src/index.js
  src/listeners/keydown.js
  src/listeners/pointeEvents.js
Due: eslint --fix

fix: change default theme
  src/helpers.js
Due: eslint --fix

chore(deps): update dependency @rollup/plugin-node-resolve to v13.2.1
  package-lock.json
  package.json
Due: prettier --write

fix: add donkeyclip dark theme
  demo/index.js
  src/html/style.css
  src/index.js
Due: eslint --fix

fix: falsy init params
  demo/index.js
  src/index.js
Due: eslint --fix

fix: falsy init params
  src/index.js
Due: eslint --fix

Fix/init params (#166)
  src/index.js
Due: eslint --fix

fix:remove outline
  src/html/style.css
Due: none
