Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

ci: remove unused packages and old config
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

perf: cache time formating calculations as they are executed multiple times per second
  src/index.js
Due: eslint --fix

refactor(helper): use shorter regexp
  src/helpers.js
Due: eslint --fix

ci: drop comments from umd
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

chore: prettify readme.md
  README.md
Due: prettier --write

refactor: dropped unneeded variables
  src/helpers.js
  src/html/setElements.js
  src/index.js
Due: eslint --fix

refactor: drop create journey from class and drop some wrapper functions
  package.json
  src/helpers.js
  src/index.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
Due: prettier --write, eslint --fix

ci: drop pre-push
  .husky/pre-push
Due: none

ci: flip to svgo instead of svg
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

refactor: don't lazy load wheel listener
  src/index.js
Due: eslint --fix

refactor: use helpers in more places
  src/helpers.js
  src/html/setElements.js
  src/index.js
  src/listeners/donkeyclip.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/pointeEvents.js
  src/listeners/volume.js
  src/listeners/wheelListener.js
Due: eslint --fix

refactor: drop unusued function, decrease bundle size
  src/helpers.js
  src/index.js
  src/listeners/fullscreen.js
  src/listeners/pointeEvents.js
  src/listeners/volume.js
Due: eslint --fix

refactor: merge if statements
  src/helpers.js
Due: eslint --fix

fix: correctly set clip size for the container
  src/helpers.js
Due: eslint --fix

feat: compress css and html on bundle
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

refactor: use manual way of calculating date format
  src/index.js
Due: eslint --fix

fix: correctly set volume off icon when volume is 0
  src/listeners/volume.js
Due: eslint --fix

refactor(css): merge same selectors
  src/html/style.css
Due: none

chore(deps): update dependency eslint-plugin-sonarjs to v0.13.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @donkeyclip/motorcortex to v8.0.3
  package-lock.json
  package.json
Due: prettier --write

fix: drop svgo because it was messing up the svgs
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

chore(deps): update dependency @donkeyclip/motorcortex to v8.0.4
  package-lock.json
  package.json
Due: prettier --write
