Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint "src/**.css" "src/**/*.scss" --config .stylelintrc.json --fix, eslint --fix

.lintstagedrc:

{
      "*.json": [
        "prettier --write",
        "git add"
      ],
      "*.{css,scss}": [
        "stylelint  \"src/**.css\" \"src/**/*.scss\" --config .stylelintrc.json --fix",
        "git add"
      ],
      "*.{js,jsx}": [
        "eslint --fix",
        "git add"
      ]
    }

.lintstagedrc.json:

{
  "*.{json,md,yml,yamo}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --fix"]
}

refactor: Drop complexity of preview
  src/helpers.js
  src/listeners/preview.js
Due: eslint --fix

chore: move lintstaged into package.json
  .lintstagedrc.json
  package.json
Due: prettier --write

fix: update rollup deps, resolve dev server issue
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write, eslint --fix

refactor: use switch for different button states
  src/listeners/statusBtn.js
Due: eslint --fix

refactor(loopBarEnd): merge if statements
  src/listeners/loopBarEnd.js
Due: eslint --fix

refactor: reduce complexity of calcClipScale
  src/helpers.js
Due: eslint --fix

refactor: Extract common logic to functions
  src/helpers.js
  src/index.js
  src/listeners/body.js
  src/listeners/controls.js
  src/listeners/donkeyclip.js
  src/listeners/enums.js
  src/listeners/events.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/loopBtn.js
  src/listeners/preview.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/volume.js
Due: eslint --fix

refactor: extract buttonOpacity to a var and reuse it
  src/html/style.js
Due: eslint --fix

ci: update github page action (managed by Terraform)
  .github/workflows/github-page.yml
Due: prettier --write

ci: update testing action (managed by Terraform)
  .github/workflows/test.yaml
Due: none

ci: Update misspell action (managed by Terraform)
  .github/workflows/misspell.yml
Due: prettier --write

ci: update Release please action (managed by Terraform)
  .github/workflows/release-please.yml
Due: prettier --write

refactor: Modernize the package
  demo/bundle.js
  demo/index.js
  src/config.js
  src/helpers.js
  src/html/playerHTML.js
  src/html/setElements.js
  src/html/style.js
  src/html/svg.js
  src/html/themes.js
  src/index.js
  src/listeners/body.js
  src/listeners/controls.js
  src/listeners/donkeyclip.js
  src/listeners/fullscreen.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/loopBtn.js
  src/listeners/loopStartEnd.js
  src/listeners/preview.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/statusBtn.js
  src/listeners/volume.js
Due: eslint --fix

chore: Cleanup old config
  .lintstagedrc
  .lintstagedrc.json
  .travis.yml
  wipe-dependencies.js
Due: prettier --write, eslint --fix

chore: Update eslintconf, drop some usunsed deps
  .eslintrc
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@57cc69ad1a180a8cec69f28a246b599237d3e067 🚀
  .eslintrc
  .eslintrc.js
  .lintstagedrc
  .travis.yml
  demo/bundle.js
  demo/index.js
  package-lock.json
  package.json
  rollup.config.js
  src/config.js
  src/helpers.js
  src/html/playerHTML.js
  src/html/setElements.js
  src/html/style.js
  src/html/svg.js
  src/html/themes.js
  src/index.js
  src/listeners/body.js
  src/listeners/controls.js
  src/listeners/donkeyclip.js
  src/listeners/enums.js
  src/listeners/events.js
  src/listeners/fullscreen.js
  src/listeners/loopBarEnd.js
  src/listeners/loopBarStart.js
  src/listeners/loopBtn.js
  src/listeners/loopStartEnd.js
  src/listeners/preview.js
  src/listeners/progressBar.js
  src/listeners/settings.js
  src/listeners/speed.js
  src/listeners/statusBtn.js
  src/listeners/volume.js
  wipe-dependencies.js
Due: prettier --write, eslint --fix

chore(deps): update dependency eslint-plugin-prettier to v3.4.0
  package-lock.json
  package.json
Due: prettier --write

chore: remove bundle from git
  .gitignore
  demo/bundle.js
Due: eslint --fix

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@829324c7b293424601ef6a180fa86595d2c5915c 🚀
  .gitignore
Due: none

chore(deps): update dependency webpack to v5.34.0
  package-lock.json
  package.json
Due: prettier --write
