Repository donkeyclip/motorcortex-player: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): update dependency husky to v6
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency lint-staged to v11
  package-lock.json
  package.json
Due: prettier --write

fix: preview event listeners bug
  demo/index.js
  src/html/player.html
  src/html/style.css
  src/index.js
  src/listeners/preview.js
Due: eslint --fix

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@d90b4ac64d239dd3b532659e8939735cb89a565b 🚀
  demo/bundle.js
  demo/index.js
  src/html/player.html
  src/html/style.css
  src/index.js
  src/listeners/preview.js
Due: eslint --fix

chore: release 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@733c0003c96b519da597dce9f8bfa7a6ed0668d2 🚀
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency postcss to v8.3.0
  package-lock.json
  package.json
Due: prettier --write

fix: preview and initial controls settings
  demo/index.js
  demo/webpack.config.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@9c653d123b0378c47a57094975bcdcdafc54d8be 🚀
  demo/bundle.js
  demo/index.js
  demo/webpack.config.js
  package-lock.json
  package.json
  src/index.js
Due: prettier --write, eslint --fix

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

Delete .github/.misspell-fixer.ignore
  .github/.misspell-fixer.ignore
Due: none

Delete .github/workflows/github-page.yml
  .github/workflows/github-page.yml
Due: prettier --write

Delete .github/workflows/eslint.yml
  .github/workflows/eslint.yml
Due: prettier --write

Delete .github/workflows/misspell.yml
  .github/workflows/misspell.yml
Due: prettier --write

Delete renovate.json
  renovate.json
Due: prettier --write

Delete .github/workflows/test.yaml
  .github/workflows/test.yaml
Due: none

Delete .github/workflows/release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

fix: disable player pointer events
  src/html/style.css
Due: none

ci: update Release please action (managed by Terraform)
  .github/workflows/release-please.yml
Due: prettier --write

ci: update github page action (managed by Terraform)
  .github/workflows/github-page.yml
Due: prettier --write

Deploying to gh-pages from @ kissmybutton/teo-motorcortex-player@f820484867e2e9dd02566d2161236cbde2983d79 🚀
  CHANGELOG.md
  demo/bundle.js
  package-lock.json
  package.json
  src/html/style.css
Due: prettier --write, eslint --fix

ci: update testing action (managed by Terraform)
  .github/workflows/test.yaml
Due: none

chore(deps): update dependency eslint-plugin-import to v2.23.3
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{json,md,yml,yamo})
  eslint --fix: any of: *.{js,jsx}
